
img{
    width: 180px;
    height: auto;
}

#caroContainer{
    position: relative;
}

#carouselSlidesOnly{
    position: absolute;
    top: 20%;
}

a{
    color: black;
}

#pageTitle{
    padding-top: 0.8em;
    padding-bottom: 1.8em;
    font-family: sans-serif;
    font-weight: lighter;
}

.bottomInfo{
    text-decoration: underline;
    color: black
}

.card-title{
    text-align: center;
}

#lastBorder{
    border-bottom: 2px solid grey;
}

.alignment{
    border:white;
    text-align: end;
}

#subtotal{
    text-align: end;
}